@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #F3F2F2;
}

a {
    text-decoration: none
}


/* Header */

header {
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
}


/* Containers */

.container {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
}


/* Image -> left */

.container img {
    display: block;
    position: absolute;
    width: 539.22px;
    height: 447.43px;
    margin-left: 5.35%;
    margin-right: 57.21%;
    margin-top: 24.54%;
    margin-bottom: 34.03%;
}


/* Text -> Right */

.container .container-elems {
    position: absolute;
    display: block;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
}

.container .container-elems h2 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    /* Gray 1 */
    color: #333333;
}

.container .container-elems p {
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    /* Gray 2 */
    color: #4F4F4F;
}

.container .container-elems .btn {
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    /* Gray 1 */
    border: none;
    background: #333333;
}

.container .container-elems .btn a {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: -0.035em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* footer styling */

footer {
    position: absolute;
    width: 300px;
    height: 20px;
    left: 577px;
    top: 1039px;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #BDBDBD;
}